.PipeNow {
  height: 100%;
  width: 100%;
  max-width: 600px;

  padding: 10px;
  display: grid;
  /* grid-template-columns: 60% 40%; */
  /* grid-template-rows: 40% 60%; */
  grid-template-areas:
    "plant plant"
    "controls controls";
}

.PipeNow__controls {
  grid-area: controls;
}
