.UI {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.App {
  height: 100vh;
  width: 100vw;

  /* max-width: 600px; */

  display: grid;
  grid-template-rows: 100px auto 75px;
  justify-items: center;

  background-color: rgba(255, 255, 255, 0.658);
}
