.Header {
  display: grid;
  /* justify-content: center; */
}

.Header__content {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.Header__content__logo {
  justify-self: right;
  width: 80px;
}

.Header__content__text {
  margin-left: 20px;
  font-size: 3.3rem;
  color: #426b33;
}
