.PipeControls {
  grid-area: controls;

  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-content: center;
}

.Variable,
.Control {
  padding: 15px 7px;
  margin: 5px;
  border-radius: 15px;
  font-size: 1rem;
}

.Variable {
  display: grid;
  grid-gap: 5px;
  align-items: center;
  grid-template-columns: 15px auto;

  background-color: rgba(255, 255, 255, 0.862);
}

.Variable__img {
  width: 100%;
}

.Variable__value__resalt {
  white-space: nowrap;
}

.Control:hover {
  border: 2px rgb(55, 55, 55) solid;
}

.Control--disabled {
  background-color: rgb(192, 192, 192);
  color: #0f0f0f;
}

.Control--disabled:hover {
  border: none;
}

.automation__title {
  font-size: 1.1rem;
}
.automation__p {
  font-size: 1rem;
}

.loading {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 15px;

  display: grid;
  justify-content: center;
  align-items: center;

  background-color: rgba(110, 110, 110, 0.288);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgba(79, 79, 79);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgba(79, 79, 79) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
